@mixin fontSize($size, $color) {
	font-size: $size;
	color: $color;
}
@mixin transition($time) {
	transition: all $time;
	-webkit-transition: all $time;
	-o-transition: all $time;
	-moz-transition: all $time;
}

*{
	margin: 0;
	padding: 0;
}
a {
  	text-decoration: none;
}
li {
  	list-style: none;
}
#components-layout-demo-side .logo {
	height: 32px;
	background: #333;
	border-radius: 6px;
	margin: 16px;
}

// 登录
#login {
	width: 100%;
	height: 100vh;
	background: {
		image: url('./static/images/WechatIMG833.jpeg');
		position: center;
		size: cover;
		repeat: no-repeat;
	}
}
.box {
	width: 100%;
	height: 100%;
	>form {
		width: 400px;
		padding: 20px;
		box-sizing: border-box;
		border-radius: 20px;
		background: {
			color: #fff;
		}
		>h3 {
			@include fontSize(20px, #444444);
			text-align: center;
			margin: {
				bottom: 20px;
			}
		}
		button {
			width: 100%;
		}
	}
}
//antd样式更改
.ant-layout {
	background: #fff !important;
}
.ant-layout-header {
	background: #fff !important;
	border-bottom: 1px solid #6AB6F2;
}
.ant-layout-sider {
	background: #fff !important;
	box-shadow: 2px 0 6px -3px rgba(0, 0, 0, 0.4)
}
.ant-menu-submenu {
	background: {
		color: #F7F7F7;
	}
}

//头部
#header {
	.userImg {
		font-size: 24px;
	}
}
//内容
.contentBox {
	padding: 15px;
	box-sizing: border-box;
}
.contentHeader {
	border-radius: 10px;
	padding: 10px 20px;
	@include fontSize(16px, #fff);
	background: {
		color: #6AB6F1;
	}
}
.contentContent {
	box-sizing: border-box;
	padding: 0 20px;
	margin: {
		top: 20px;
	}
	background: {
		color: #fff;
	}
}
.contentHeaderButton {
	padding: 0 20px;
	margin: {
		top: 20px;
	}
}
// 课程管理
#classListTable {
	td {
		img {
			max-width: 100px;
		}
	}
}
// 添加课程
#classImgFile {
	display: none;
}
#classImgFileLabel {
	width: 50px;
	height: 50px;
	padding: 20px 10px;
	// border: 1px black dashed;
	i {
		vertical-align: middle;
		font-size: 50px;
	}
}