* {margin:0;padding:0;}
li {list-style: none;}
.audioBox {
    width: 400px;
    height: 300px;
    /* border: 1px solid black; */
}
.audioBox>section {
    height: 150px;
    border: 1px solid black;
}

/* 播放器 */
.player {
    display: flex;
    flex-wrap: nowrap;
}

.img img {
    width: 150px;
    height:150px;
    border-radius: 50%;
}
.img .start {
    animation: quanDot 10s linear infinite;
}
.buttons {
    width: 100%;
    padding:20px 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.buttons>li {
    width: 100%;
}
/* 时间 */
#times {
    display: flex;
    justify-content: space-between;
    
}
/* 进度条 */
#line {
    position: relative;
    cursor: pointer;
    height: 4px;
    /* background-color: #C5C5C5; */
    transition: all 0.3s;
    overflow: hidden;
    border-radius: 2px;
}
#line:hover {
    background-color: #C5C5C5;
}
#line>span {
    position: absolute;
    display: block;
    width: 0;
    height: 4px;
    top: 0;
    left: 0;
    background-color: #2ACB42;
}
/* 按钮 */
.doSth {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.doSth>span {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    /* background: black; */
}
/* 开始暂停 */
#playAndpause {
    
}
#playAndpause>svg {
    width: 100%;
    height: 100%;
    fill: rgb(129, 127, 127);
}
#playAndpause>svg:last-child {
    display: none;
}
/* 喜欢 */
#like>svg {
    width: 100%;
    height: 100%;
    fill: rgb(129, 127, 127);
    transition: all 0.3s;
}
#like>svg:last-child {
    display: none;
}
#like:hover>svg:last-child {
    display:block;
}
#like:hover>svg:first-child {
    display:none;
}
/* 停止 */
#next>svg {
    width: 100%;
    height: 100%;
    fill: rgb(129, 127, 127);
}
/* 播放列表 */
#musickList>svg {
    width: 100%;
    height: 100%;
    fill: rgb(129, 127, 127);
}

/* 转圈圈动画 */
@keyframes quanDot {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}